# IntelliJ
.idea/
*.iml
out/

# Java / Maven / Gradle
**/target/
**/build/
*.log

# Node / Angular
**/node_modules/
**/dist/
**/.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / secrets
.env
*.key
*.pem

# OS
.DS_Store
Thumbs.db
# Archivos generados / subidos por la app (NO versionar)
backend/sgra-api/sgra-api/uploads/
**/uploads/
*.log
