<!--<div class="shell" *ngIf="showShell; else authOnly">-->
<!--  <aside class="sidebar card">-->
<!--    <div class="brand">-->
<!--      <div class="logo">SG</div>-->
<!--      <div>-->
<!--        <div class="brand-title">SGRA</div>-->
<!--        <div class="brand-sub">Sistema de Giras</div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <nav class="nav">-->
<!--      <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">-->
<!--        <span class="dot"></span> Dashboard-->
<!--      </a>-->

<!--      <div class="nav-section">Administración</div>-->
<!--      <a routerLink="/admin/users" routerLinkActive="active" class="nav-item">-->
<!--        <span class="dot"></span> Usuarios-->
<!--      </a>-->
<!--      <a routerLink="/admin/roles" routerLinkActive="active" class="nav-item">-->
<!--        <span class="dot"></span> Roles-->
<!--      </a>-->

<!--      <div class="nav-section">Docente</div>-->
<!--      <a routerLink="/docente/solicitud-gira" routerLinkActive="active" class="nav-item">-->
<!--        <span class="dot"></span> Solicitud de gira-->
<!--      </a>-->
<!--    </nav>-->

<!--    <div class="sidebar-bottom">-->
<!--      <button class="btn danger w100" (click)="logout()">Cerrar sesión</button>-->
<!--      <div class="small mt8">API: http://localhost:8080</div>-->
<!--    </div>-->
<!--  </aside>-->

<!--  <main class="main">-->
<!--    <header class="topbar card">-->
<!--      <div>-->
<!--        <div class="top-title">SGRA Web</div>-->
<!--        <div class="top-sub">Panel principal</div>-->
<!--      </div>-->
<!--      <div class="top-actions">-->
<!--        <span class="badge good">● Online</span>-->
<!--      </div>-->
<!--    </header>-->

<!--    <section class="content">-->
<!--      <router-outlet></router-outlet>-->
<!--    </section>-->
<!--  </main>-->
<!--</div>-->


  <router-outlet></router-outlet>
